.notification-box {
  max-height: 400px;
  overflow-y: auto;
  left: 0!important;
}

.notification-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.notification-item:last-child {
  border-bottom: none;
}

.navbar .notification-box .see-more-link {
  font-size: 0.9rem;
  text-align: center;
  text-decoration: underline!important;
}
